/* General fixes */
.container {
  min-width: 940px;
}
h1{
	font-size: 1.9em;
}
#publication-listing tr td .currency{
	text-align: right;
}


/* Subscribe section floating fix */
.subscribe-section .olive{
  height: 40px;
  display: inline-block;
}
.subscribe-section .olive a{
  color: #fff;
  text-decoration: underline;
}
.subscribe-section .olive a:hover{
	text-decoration: none;
}

.subscription-price{
	text-align: right;
}


/* Subscrine page fixes */
/* Subscribe header */
#subscribe-page #subscribe-header .carousel-text{
	margin-top: 30px;
}

#subscribe-page #subscribe-header a{
	margin-right: 90px;
	margin-top: 70px;
}

select.select-grey{
	font-size: 1em;
}

#user-panel form select{
	font-size: 14px;
	background-image: none;
	background-color: #fff;
	padding:4px 0;
	margin-top: 6px;
	width: 290px;
	height: auto;
}


/* Background alignment fix */
.testimonial-carousel {
	background: #4f5050 url('../images/home/testimonials.png') no-repeat;
	background-position: center top;
}
#audience-header.community-pharmacies-content, 
#audience-header.pharmaceutical-industry-content, 
#audience-header.hospitals-and-community-care-content, 
#audience-header.academics-and-students-content,
#subscribe-header{
	background-position: center top;
}

#publications-filter label:first-child{
	float: left;
	margin-top: 10px;
}
#publications-filter select, #country-select-box{
	font-size: 14px;
}
#country-select-box{
	padding: 0;
	height: 36px;
}

/* Form fixes */
#application-login-form input[type=email], #application-login-form input[type=password]{
	width: 330px;
}
#password-header input[type=password]{
 	width: 260px;
 }