/* ==========================================================================
/* Specific Sections for the Product Updates Page
========================================================================== */

/* Jquery support classes */
#product-updates-page .updates-list li.closed .details{
  display: none;
}
#product-updates-page .updates-list li a.see-details-btn{
  background: url('../images/icons/icon-arrow-up-green.png') no-repeat right center;
  font-size: 1.1em;
  margin-top: 3px;
}
#product-updates-page .updates-list li.closed a.see-details-btn{
  background: url('../images/icons/icon-arrow-down-green.png') no-repeat right center;
}
#product-updates-page .see-details-btn{
  display: inline-block;
}

/* Hide details button when there is no JS */
.no-js #product-updates-page .updates-list a.see-details-btn{
  display: none;
}

/* Product updates list */
#product-updates-page .updates-list{
  margin-bottom: 0;
  font-size: 1.1em;
}
#product-updates-page .updates-list li{
  margin-bottom: 50px;
}
#product-updates-page .updates-list h5{
  margin: 0 0 3px 0;
  font-size: 1.3em;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#product-updates-page .updates-list .see-details-btn, #product-updates-page .updates-list .hide-details-btn{
  padding-right: 16px;
}

#product-updates-page .updates-list .details{
  margin-top: 15px;
}
#product-updates-page .updates-list .details h5{
  font-size: 1.2em;
  margin-top: 25px;
}
#product-updates-page .updates-list .details p{
  margin-bottom: 15px;
}
#product-updates-page .updates-list .details p:last-of-type{
  margin-bottom: 0;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 12px;
}
#product-updates-page .updates-list .details a{
  font-size: 1.1em;
}
#product-updates-page .updates-list .details hr{
  margin: 15px 0 0 0;
}


/* Publication select */
#product-updates-section .col{
  position: relative;
}
#publications-filter{
  position: absolute;
  top: -8px;
  right: 0;
}
#publications-filter label{
  float: left;
  line-height: 35px;
}
#publications-filter .select-blue-box, #publications-filter select{
  width: 330px;
  display: inline-block;
}


/* Load updates button */
#load-updates{
  background: #2ea598 url('../images/icons/icon-arrow-down-big-white.png') no-repeat 98% center;
  margin-bottom: 10px;
}
#load-updates:hover{
 background-color: #2c8a80;
}


/* Increase font-size */
#publications-filter label{
  font-size: 1.1em;
}
#updated-column{
  font-size: 1.2em;
}


/* Publications filter */
#publications-filter{
  display: block;
  margin-bottom: 13px;
}
#publications-filter label{
  display: inline;
  font-weight: normal;
  margin: 0 5px 0 0px;
  font-size: 1.1em;
}
#publications-filter select{
  width: auto;
  overflow: hidden;
}


/* Hide the filter when there is no js */
 .no-js #publications-filter{
  display: none;
 }


/* ==========================================================================
/* Responsive Styling (for tablet and mobile)
========================================================================== */
/* Responsive CSS for Mobile only */
@media only screen and (max-width: 761px) {


  /* Updates list */
  #product-updates-page .updates-list{
    margin-top: 20px;
  }
  #product-updates-page .updates-list li:last-child{
    margin-bottom: 25px;
  }

  #product-updates-page .updates-list h5{
    margin: 0 0 10px 0;
    font-size: 1.3em;
  }


  /* Filter select form */
  #publications-filter .select-blue-box, #publications-filter select{
      width: 100%;
  }
  #publications-filter{
    margin-bottom: 15px;
    position: relative;
    display: block;
    width: 100%;
    float: none;
  }


  /* Publications filter */
  #publications-filter label{
    display: none;
  }


  /* Full width button */
  #load-updates{
    background-position: 90% center;
  }


  /* Product updates in footer */
  #product-updates-page .updates-list{
    padding-left: 0;
  }
  #updated-column a{
    margin-top: 20px;
    width: 100%;
  }


}

