/* ==========================================================================
Base Stylesheet (Contains Type, Responisve Grid, Form elements) )
========================================================================== */

/* ==========================================================================
Resets and Common Classes
========================================================================== */


/* Micro Clearfix */
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.section:before, .section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section {
  zoom: 1;
}


/* General Resets */
html {
  font-size: 100%;
}
/* Make all form fonts consistent */
input,
select,
textarea {
  font-family: Helvetica, sans-serif;
}
button{
  font-family: 'proxima-nova', Helvetica, sans-serif;
}
/* Remove default borders */
form,
fieldset,
a img {
  border: 0;
}
/* Remove default spacing */
form,
fieldset {
  margin: 0;
  padding: 0;
}
/* Common Classes */
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline {
  display: inline;
}
.strong {
  font-weight: bold;
}
.olive{
  color: #d0ddcc;
}
.grey{
  background: #f0f0f0;
}
.greenborder{
  border-bottom: 1px solid #313131;
  padding-top: 52px;
}
.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.none,
.nodesktop {
  display: none;
}
.floating-link{
  font-size: 1.3em;
  margin-top: 10px;
}
.valign { 
  display: table; 
}
.valign > div:first-child {
  display: table-cell;
  vertical-align: middle;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}


/* ==========================================================================
/* Document Setup (body, links, headings, code, tables, forms etc)
========================================================================== */

/* Body */
body {
  font-family: "proxima-nova", "museo-sans", helvetica, clean, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
  background-color: #ffffff;
  color: #4c4c4c;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

p{
  line-height: 1.7em;
  font-size: 1.2em;
}

/* Links and hover effects */
a {
  color: #2ea598;
  text-decoration: none;
  transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  -ms-transition: all 0.3s; 
  -o-transition: all 0.3s; 
  -webkit-transition: all 0.3s;
}

a:hover {
  color: #26505e;
  transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  -ms-transition: all 0.3s; 
  -o-transition: all 0.3s; 
  -webkit-transition: all 0.3s;
}
a:active {
  color: #fff;
}

input[type=submit] {
  color: #fff;
  transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  -ms-transition: all 0.3s; 
  -o-transition: all 0.3s; 
  -webkit-transition: all 0.3s;
}

/* Buttons */
.btn, .btn-line, .btn-secondary, .btn-bright, .btn-down, .btn-sidepanel, .btn-submit {
  background-color: #2ea598;
  color: #fff;
  text-decoration: none;
  font-size: 1.063em;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.btn-bright{
  background: #3ca095;
  font-size: 1.2em;
}
.btn-submit{
  border:0;
  width: auto;
  background: #3ca095 url('../images/icons/icon-arrow-right-small.png') 82% center no-repeat;
  font-size: 1.35em;
  color: #fff;
  padding: 12px 0;
  height: 44px;
}
.btn-bright:hover, .btn-submit:hover{
  background-color: #1f6b62;
  color: #fff;
}
.btn-secondary{
  background: #d0ddcc;
  color: #26505e;
}
.btn-down, .btn-sidepanel{
  background: #ee7266 url('../images/icons/icon-arrow-down-big.png') center center no-repeat;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  width: 20px;
  height: 6px;
}
.btn-down:hover{
  background-color: #de6357;
}
.btn-sidepanel{
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #ee7266 url('../images/icons/icon-arrow-panel-close.png') center center no-repeat;
}
.btn-line{
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
}
.btn:hover{
  background-color: #2c8a80;
  text-decoration: none;
  color: #fff;  
}
.btn-line:hover{
  background: #373737;
  text-decoration: none;
  color: #fff;
}

/* Different button sizes */
.btn-small{
  padding: 8px 12px;
}
.btn-medium{
  padding: 12px 15px;
}
.btn-large{
  padding: 18px 20px;
  font-size: 1.2em;
}
.btn-full{
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
}

/* Black search button */
.btn-search{
  background: #313131;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 9px 15px 9px 15px;
  border: 0;
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}

.see-details-btn, .hide-details-btn{
  display: inline-block;
  background: url('../images/icons/icon-arrow-down-green.png') no-repeat right center;
  padding-right: 16px;
}

.hide-details-btn{
  background: url('../images/icons/icon-arrow-up-green.png') no-repeat right center;
}


/* Icons */
i{
  display: inline-block;
  width: 9px;
  height: 14px;
  position: absolute;
}

.icon-right{
  padding-right: 40px;
}

.icon-left{
  padding-left: 40px;
}

.icon-telephone{
  background: #2ea598 url('../images/icons/icon-telephone.png') no-repeat 10px center;
}

.icon-mail-icon{
  background: #2ea598 url('../images/icons/icon-mail-icon.png') no-repeat 12px center;
}

.icon-download{
  background: url('../images/icons/icon-download.png') no-repeat center left;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 12px;
}

.icon-subscribe{
  background: url('../images/icons/icon-subscribe.png') no-repeat center left;
  height: 20px;
  width: 20px;
  left: 10px;
  top: 12px;
}

.icon-arrow-right{
  background: url('../images/icons/icon-arrow-right.png') no-repeat center right;
  right: 18px;
  top: 22px;
}
.btn-medium .icon-arrow-right{
  top: 15px;
}
.icon-arrow-right-blue{
  position: relative;
  background: url('../images/icons/icon-arrow-right-blue.png') no-repeat center right;
  right: 0;
  top: 2px;
}
.icon-arrow-down{
  background: url('../images/icons/icon-arrow-down.png') no-repeat center right;
  right: 18px;
  top: 15px;
}
.icon-arrow-right-blue{
  background: url('../images/icons/icon-arrow-right-blue.png') no-repeat center right;
  padding-right:15px;
}
.icon-arrow-down-blue{
  background: url('../images/icons/icon-arrow-down-green.png') no-repeat center right;
  padding-right:15px;
}
.icon-arrow-down-big{
  background: url('../images/icons/icon-arrow-down-big.png') no-repeat center center;
}
.icon-bubble, .icon-testimonials{
  background: url('../images/icons/icon-bubble.png') no-repeat top left;
  height: 33px;
  width: 33px;
  display: block;
}
.icon-testimonials{
  background: url('../images/icons/icon-testimomials.png') no-repeat top center;
  display: none;
  margin: 20px 0 10px 0;
}
.icon-twitter{
  background: url('../images/icons/icon-twitter.png')  no-repeat top left;
}
.icon-facebook{
  background: url('../images/icons/icon-facebook.png') no-repeat top left;
}
.icon-mail{
  background: url('../images/icons/icon-mail.png') no-repeat left 2px;
}
.icon-list-mobile{
  background: #212121 url('../images/icons/icon-list.png') no-repeat center center;
  float: right;
}
.icon-list-mobile-active{
  background: #212121 url('../images/icons/icon-list-active.png') no-repeat center center;
  float: right;
}
.icon-search-mobile{
  background: #212121 url('../images/icons/icon-search-mobile.png') no-repeat center center;
  float: left;
}  
.icon-search-mobile-active{
  background: #212121 url('../images/icons/icon-search-mobile-active.png') no-repeat center center;
  float: left;
}  
.icon-search-mobile{
  background: #212121 url('../images/icons/icon-search-mobile.png') no-repeat center center;  
}
.icon-search-grey{
  background: #fff url('../images/icons/icon-search-grey.png') no-repeat 5px center !important;
}
.icon-arrow-left{
  background:url('../images/icons/icon-arrow-left-blue.png') no-repeat left center; padding-left: 14px;
}
.icon-arrow-right-padded{
  background: #3ca095 url('../images/icons/icon-arrow-right-padding.png') no-repeat right center;
}
.icon-print{
  background: url('../images/icons/icon-print.png') no-repeat left center; padding-left: 30px;
}


/* Headings - h1, h2, h3, h4, h5, h6 & other (if any)
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  font-family: "museo-sans", "proxima-nova", Helvetica, Arial, sans-serif;
}
h1,
.h1 {
  font-size: 30px;
  font-size: 1.68rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 8px;
  padding-bottom: 7px;
  font-weight: 300;
  margin-bottom: 42px;
  line-height: 1.38em;
}
h2,
.h2 {
  font-size: 22px;
  font-size: 1.37rem;
  margin-bottom: 8px;
  padding-bottom: 10px;
  font-weight: 300;
}
h2 b{
  font-weight: 400;
}
h3,
.h3 {
  font-size: 22px;
  font-size: 1.15rem;
  line-height: 1.7rem;
  margin-bottom: 15px;
}
h4,
.h4 {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  font-size: 1.250rem;
  margin-bottom: 4px;
  line-height: 1.75em;
  margin-bottom: 35px;
}
h5,
.h5{
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4em;
  margin-bottom: 22px;
}
h6,
.h6 {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.20rem;
  font-weight: 100;
  line-height: 1.90em;
  margin-bottom: 20px;
  margin-left: 15px;
}
.no-style-heading {
  margin-bottom: 0;
  font-size: 14px;
  font-size: 0.875rem;
}


/* Paragraphs, block quotes, code, pre, etc
========================================================================== */
small {
  font-size: 1em;
  font-family: 'proxima-nova', helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  height: 1px;
  background-color: #dddddd;
  margin: 2em 0;
}


/* Tables
========================================================================== */
table {
  width: 100%;
  border-collapse: collapse;
  border-left: 0;
  background-color: #fff;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}
table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #ffffff;
  color: #222222;
}
table tfoot td {
  font-weight: bold;
}
table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eeeeee;
  border-bottom: 0;
  font-weight: bold;
}


/* Lists
========================================================================== */
/* Descriptive list */
dt:first-child{
  margin-top: 0;
}
dt{
  font-size: 1.6em;
  margin-top: 40px;
  line-height: 1.6em;
}
dt a{
  font-size: 0.8em;
}
dd{
  margin: 0;
}
dd p{
  font-size: 1.2em;
}

/* Default lists */
ul {
  list-style: disc;
  padding: 0 0 0 25px;
  margin: 0;
}
ol {
  list-style: decimal;
  padding: 0 0 0 25px;
  margin: 0;
}

ul:last-child{
  margin-bottom: 0;
}

ul li:last-child{
  margin-bottom: 0;
}

/* Lists in content sections */
.content-section ul li{
  margin-bottom: 20px;
}
.content-section ul{
  margin-bottom: 30px;
}
.content-section .col ul:last-child{
  margin-bottom: 0;
}


/* Forms, Labels and Inputs
========================================================================== */
.fieldset {
  margin: 1.5em 0;
}

fieldset{
  margin-bottom: 30px;
}

fieldset h2{
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.3em;
}

label {
  font-weight: normal;
  cursor: pointer;
}
.inline-field label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-right: 12px;
}
.field {
  padding: 0.2em 0;
  margin-bottom: 15px;
  display: block;
}
.field .required{
  display: inline-block;
}
.field label {
  display: block;
  margin-bottom: 2px;
  font-size: 1em;
}

.input-courtesy-title, .input-name{
  margin-right: 6px;
}

.input-courtesy-title, .input-courtesy-title label, .input-courtesy-title select{
  width: 60px;
  display: inline-block;
}

.input-name, .input-name input[type=text], .input-surname, .input-surname input[type=text]  {
  width: 189px;
  display: inline-block;
}

/* Inputs (Text, Search, Email, etc) */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel]{
  outline: 0;
  padding: 2px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #dddddd;
  margin: 0;
  border-radius: 0;
}
input[type=search]{
  border: 1px solid #c5c5c5;
  background: #f4f4f4;
  padding: 8px 8px;
}
input[type=submit]::-moz-focus-inner{
  padding: 0;
  border: 0;
}

/* search styling reset (webkit) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=submit],
input[type=button],
input[type=reset] {
  margin: 0;
  border: 0;
  line-height: normal;
  cursor: pointer;
  font-family: "proxima-nova", "museo-sans", helvetica, clean, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[placeholder], [placeholder], *[placeholder] {
  font-weight: 100;
}
textarea {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #f0f0f0;
  color: #000;
  outline: 0;
  padding: 2px 5px;
  vertical-align: top;
  border: 1px solid #dddddd;
  padding: 10px;
  resize: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 440px;
  height: 300px;
  font-weight: 100;
  line-height: 1.5em;
}
select {
  font-size: 18px;
  font-size: 0.875rem;
  outline: 0;
  border: 0;
  padding: 7px;
  line-height: normal;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  border: 1px solid #999999;
}

.field input, 
.inline-field input{
  padding: 8px;
}


/* Grey select box */
select.select-grey{
  height: 34px;
  color: #363636;
  background:  #e9e9e9;
  border: 1px solid  #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* Blue select box */
.select-blue-box{
  width:220px;
  border: 1px solid #ccc;
  height:35px;
  line-height: 35px;
  background: #2ea598 url('../images/icons/icon-arrow-select.png') no-repeat right center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor:pointer;
  color: #fff;
  position: relative;
}

.select-blue-box div{
  z-index:-1;
  border:0px solid #000;
  overflow:hidden;
  padding:1px 0px 0px 10px;
  cursor:pointer;
  height:35px;
} 
.select-blue-box select{
  height: 35px;
  left: 0;
  margin-top: 0;
  position: absolute;
  width: 220px;
  z-index: 2; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor:pointer;
} 
.no-js .select-blue-box{
  background: none;
  border: 0;
}
.no-js .select-blue-box select{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}


/* Input helper classes */
input.input-full, select.input-full{
  width: 454px;
}

input.input-half, select.input-half{
  width: 227px;
}


/* Required span */
label span.required{
  font-size: 1em;
  color: #ee7266;
}

fieldset h2 span.required{
  font-size: 0.9em;
  color: #ee7266;
}


/* Form validation (error and success messages) */
input.error, textarea.error, select.error{
  border: 1px solid #b03535;
}

/* Fix to relocate the error fields on smaller inputs */
.input-half + .error-container{
  width: 227px;
}

label.error{
  background: #d45252;
  display: block;
  padding: 4px 8px;
  z-index: 999;
  text-align: left;
  color: #fff;
  font-size: 1em;
}
label.error::before {
  content: "\25b2"; /* left point triangle in escaped unicode */
  color:#d45252;
  position: absolute;
  top: -12px;
  right: 4px;
}

.inline-field label.error {
  margin-right: 0;
}

.error-container{
  display: block;
  text-align: right;
  position: relative;
  margin-top: 6px;
}

/* Alternative error colour scheme style for darker backgrounds */
.global-menu label.error, .navigation label.error, #carousel label.error{
  background: #b03535;
}
.global-menu label.error::before , .navigation label.error::before , #carousel label.error::before {
  color: #b03535;
}
.global-menu .error-container .error, .navigation .error-container .error, #carousel label.error{
  background: #b03535;
}


#carousel label.error{
  font-size: 0.70em;
  font-weight: 300;
}

#carousel .error-container{
  margin-top: 5px;
}



/* Global error box (used for data returns) */
div.error-box, div.succes-box{
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  background: #b03535;
  color: #fff;
  padding: 12px;
  font-size: 1.2em;
  margin: 13px 0 0 0;
  float: left;
  -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* Succes message for darker backgrounds */
div.succes-box{
  background: #40897f;
}

/* Carousel font size reset */
#carousel div.succes-box, #carousel div.error-box{
  font-size: 0.9em;
}


/* ==========================================================================
/* Grid Layout (Responsive)
========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative;
}
.content-section{
  padding: 56px 0;
}
.content-section p:last-child{
  margin-bottom: 0;
}
.content-section img{
  max-width: 100%;
  margin-bottom: 5px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  max-width: 960px;
  margin: 0 auto;
}

/* Fluid Grid */
.col {
  margin-left: 3%;
  *margin-left: 1.7%;
  float: left;
}
.col:first-child {
  margin-left: 0;
}
/* Columns */
.one {
  width: 6.5%;
}
.two {
  width: 13%;
}
.three {
  width: 23.5%;
}
.four {
  width: 30%;
}
.five {
  width: 40.5%;
}
.six {
  width: 48.0%;
}
.seven {
  width: 56.5%;
}
.eight {
  width: 67%;
}
.nine {
  width: 73.5%;
}
.ten {
  width: 83%;
}
.eleven {
  width: 91.5%;
}
.twelve {
  width: 100%;
}
.quarter {
  width: 23.5%;
}
.half {
  width: 49.0%;
}
.one-third {
  width: 31.3%;
}


/* ==========================================================================
/* Tablet Devices (Layout, Modifications, etc)
========================================================================== */
@media only screen and (min-width: 762px) and (max-width: 939px) {

  html, body { 
    width:100%; 
  }
  
  .container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Tablet Grid
    * For stacking full width columns, please use the new class .tablet-full
    * New tablet columns have been added
    */
    .tablet-one {
      width: 6.5%;
    }
    .tablet-two {
      width: 15%;
    }
    .tablet-three {
      width: 23.5%;
    }
    .tablet-four {
      width: 31%;
    }
    .tablet-five {
      width: 40.5%;
    }
    .tablet-six {
      width: 48.0%;
    }
    .tablet-seven {
      width: 57.5%;
    }
    .tablet-eight {
      width: 66%;
    }
    .tablet-nine {
      width: 74.5%;
    }
    .tablet-ten {
      width: 83%;
    }
    .tablet-eleven {
      width: 91.5%;
    }
    .tablet-twelve {
      width: 100%;
    }
    .tablet-full {
      clear: both;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 1em;
    }
    .tablet-full:first-child {
      margin-top: 0;
    }
    .notablet {
      display: none;
    }
    .showtablet {
      display: block;
    }
    .tablet-no-sidemargin{
      margin-left: 0;
    }

    h1,
    .h1 {
      font-size: 26px;
      font-size: 1.50rem;
    }

    textarea{
      width: 324px;
    }

    input.input-full{
      width:  345px;
    }

   .input-name, .input-name input[type=text]{
      width: 278px;
      margin-right: 0;
    }

    .input-surname, .input-surname input[type=text]{
      width: 344px;
    }

  }


/* ==========================================================================
/* Mobile Devices (Layout, Modifications, etc)
========================================================================== */
@media only screen and (max-width: 761px) {


    html, body { 
      width:100%; 
    }

    /* Reset margins / padding for mobile  */
    .content-section{
      padding: 32px 0;
    }

    .content-section ul {
      padding-left: 15px;
      margin-bottom: 20px;
    }

    /* Form elements */
    select.select-blue, select.select-grey{
      width: 100%;
      font-size: 1.3em;
      line-height: 1em;
    }

    input[type=text]{
     font-size: 1.3em !important;
    }



    /* Helper class */
    .no-mobile-topmargin{
      margin-top: 0 !important;
      margin-bottom: 20px;
    }


    /* Dynamic image sizing */
    .content-section img{
      max-width: 100%;
      margin-bottom: 5px;
    }


    /* Headings and fonts */
    h1, .h1{
      margin-bottom: 20px;
      font-size: 1.50rem;
    }

    h1 br{
      display: none;
    }

    p{
      padding: 0;
      margin-bottom: 0;
      margin-top: 10px;
    }

    /* Blue select box */
    .select-blue-box{
      height:45px;
      line-height: 45px;
    }
    .select-blue-box div{
      height:45px;
    } 
    .select-blue-box select{
      height: 45px;
    } 


    /* Grid */
    .mobile-one {
      width: 6.5%;
    }
    .mobile-two {
      width: 15%;
    }
    .mobile-three {
      width: 23.5%;
    }
    .mobile-four {
      width: 32%;
    }
    .mobile-five {
      width: 40.5%;
    }
    .mobile-six {
      width: 49.0%;
    }
    .mobile-seven {
      width: 57.5%;
    }
    .mobile-eight {
      width: 66%;
    }
    .mobile-nine {
      width: 74.5%;
    }
    .mobile-ten {
      width: 83%;
    }
    .mobile-eleven {
      width: 91.5%;
    }
    .mobile-twelve {
      width: 100%;
    }
    .mobile-full {
      clear: both;
      float: none;
      width: 100%;
      margin: 32px 0 0 0;
    }
    .mobile-full:first-child {
      margin-top: 0;
    }
    .container {
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
    }
    /* Mobile Tables */
    table th,
    table td {
      padding: 4px;
    }
    /* Mobile Forms */
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=search],
    input[type=tel],
    textarea {
      width: 90%;
      padding: 12px;
    }
    input[type=submit]{
      margin: 0;
    }
    select {
      width: 100%;
    }
    .nomobile {
      display: none;
    }
    .showmobile {
      display: block;
    }
    .no-mobile-border-box{
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
    }
    .input-courtesy-title, .input-name, .input-surname,  .input-courtesy-title select{
      width: 100%;
    }

    input.input-full, input.input-half, .input-half + .error-container{
      width:  100%;
    }

    textarea{
      padding: 8px;
      width: 100%;
      font-size: 1.3em;
    }

    .select-blue-box select{
      font-size: 1.3em;
    }

    /* Mobile error messages */
    .navigation .error-container{
      margin-bottom: 10px;
    }

    .error-container .error{
      display: block !important;
      text-align: center;
    }
  }
